<section class="flex flex-row gap-2 mt-2">
    <input
        type="text"
        class="input input-bordered mr-2 w-56"    
        placeholder="Buscar por capital"
        autofocus
        #txtSearch
        (keyup.enter)="onSearchByCapital(txtSearch.value)"
    />

    <button (click)="onSearchByCapital(txtSearch.value)" class="btn btn-primary">Buscar</button>
</section>

<section class="mt-5">
    <table class="table table-md mt-2 w-full">
        <header>
            <tr>
                <th>#</th>
                <th>icono</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Población</th>
            </tr>
        </header>
        <tbody>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        </tbody>
    </table>
</section>